body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto",
        "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
        "Helvetica Neue", sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.view1,
.view2,
.view3 {
    text-align: center;
    padding: 32px;
}
.view1-top,
.view2-top {
    display: flex;
}
.view1-top > div:last-child {
    flex: 1;
    border-bottom: solid 1px #000000;
}
